:root {
  --dark-blue: #006586;
  --bright-blue: #00abe4;
  --white: #ffffff;
}

.nav-item {
  text-decoration: underline;
  color: var(--white);
}

body {
  font-family: Courier, monospace;
  background-color: var(white);
  margin: 0;
  padding: 0;
}

p,
h1,
h3,
h4,
h5,
h6,
li,
a {
  color: var(--dark-blue);
}

h2 {
  color: var(--white);
}

.navbar {
  background-color: var(--bright-blue);
}

.navbar-brand {
  color: var(--white);
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  color: var(--white);
}

.navbar-toggler {
  border-color: var(--white);
  background-color: gray;
  background-image: none;
}

.navbar-toggler-icon {
  background-color: var(--bright-blue);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0' y1='5' x2='30' y2='5' stroke='white' stroke-width='2'%3E%3C/line%3E%3Cline x1='0' y1='14' x2='30' y2='14' stroke='white' stroke-width='2'%3E%3C/line%3E%3Cline x1='0' y1='23' x2='30' y2='23' stroke='white' stroke-width='2'%3E%3C/line%3E%3C/svg%3E");
}

.navbar-toggler {
  background-color: var(--bright-blue);
}

.card {
  margin-bottom: 20px;
}

.card-header {
  background-color: var(--bright-blue);
  color: var(--white);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.1rem;
}

@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
  }
}

.rounded-list {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--white);
}

.rounded-list li {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: var(--white);
}
