* {
	box-sizing: border-box;
}

body {
	background-color: #faebd7;
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
	.header {
		padding: 1px;
		text-align: center;
		background: #78f83d;
		font-size: 12px;
		color: #fff;
	}

	.header h1 {
		font-size: 12px;
	}

	.navbar {
		width: 100%;
		list-style-type: none;
		flex-direction: column;
		text-align: center;
		background-color: #3d51f8;
		overflow: auto;
		position: sticky;
		top: 0;
		border: 1px solid #555;
	}

	.navbar ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.navbar a {
		padding: inherit;
		color: #fff;
		text-decoration: none;
		font-size: calculate-rem(5px, 2);
		font-family: Verdana,Arial,Helvetica,sans-serif;
		top: auto;
		text-align: center;
		display: inline-block;
		border-bottom: 3px solid transparent;
	}

	.navbar a:hover {
		border-bottom: 3px solid blue;
	}

	.navbar li {
		text-align: center;
		border-bottom: 1px solid #fff;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: portrait) {
	.header {
		padding: 10px;
		text-align: center;
		background: #3dc2f8;
		font-size: 10px;
		color: #fff;
	}

	.header h1 {
		font-size: 10px;
	}

	.navbar {
		flex-direction: column;
		width: 100%;
		list-style-type: none;
		background-color: #3d51f8;
		text-align: center;
		overflow: auto;
		position: sticky;
		margin-top: auto;
		top: 0;
		border: 1px solid #555;
	}

	.navbar ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.navbar a {
		padding: inherit;
		color: #fff;
		text-decoration: none;
		font-size: calculate-rem(5px, 2);
		font-family: Verdana,Arial,Helvetica,sans-serif;
		top: auto;
		text-align: center;
		display: inline-block;
		border-bottom: 3px solid transparent;
	}

	.navbar a:hover {
		border-bottom: 3px solid blue;
	}

	.navbar li {
		text-align: center;
		border-bottom: 1px solid #fff;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
}

@media screen and (min-width: 813px) {
	.header {
		padding: 10px;
		text-align: center;
		background: #f83d66;
		font-size: 10px;
		color: #fff;
	}

	.header h1 {
		font-size: 15px;
	}

	.navbar {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		width: 100%;
		list-style-type: none;
		background-color: #f8d63d;
		text-align: center;
		overflow: auto;
		top: 0;
		border: 1px solid #555;
	}

	.navbar ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.navbar li {
		float: left;
	}

	.navbar a {
		line-height: calculate-rem(5px, 2);
		width: calculate-rem(14px, 2);
		padding: inherit;
		color: #fff;
		text-decoration: none;
		font-size: calculate-rem(5px, 2);
		font-family: Verdana,Arial,Helvetica,sans-serif;
		top: auto;
		text-align: center;
		display: inline-block;
		border-bottom: 3px solid transparent;
	}

	.navbar a:hover {
		border-bottom: 3px solid rgb(0, 255, 200);
	}

	body {
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
	}

	.row {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
	}
}

section {
	clear: both;
	float: inherit;
}

footer {
	width: auto;
	padding: max(10px, env(safe-area-inset-left));
}

footer img {
	display: inline;
}