//colors
$container_background: #333;
$active_menu_color: white;
$hamburger_menu_text_color: black;
$hamburger_menu_background: #ddd;
$menu_down_color: #3d51f8;
$navbar_border_color: #555;
$navbar_color:  blue;

//fonts
$font_0: Verdana;
$font_1: Arial;
$font_2: Helvetica;
$font_3: sans-serif;

@media only screen and(min-width: 375px) and(max-width: 812px) and(orientation: portrait) {
	.container {
		overflow: hidden;
		background-color: $container_background;
		position: relative;
		#myLinks {
			display: none;
		}
		a {
			color: $active_menu_color;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
			display: block;
			&.icon {
				background: $hamburger_menu_text_color;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
			}
			&:hover {
				background-color: $hamburger_menu_background;
				color: $hamburger_menu_text_color;
			}
		}
	}
	.active {
		background-color: $menu_down_color;
		color: $active_menu_color;
	}
	.menuBlock {
		display: none;
	}
}
@media screen and(min-width: 813px) {
	.container {
		display: none;
		visibility: hidden;
	}
	.menuBlock {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		width: 100%;
		list-style-type: none;
		background-color: $menu_down_color;
		text-align: center;
		overflow: auto;
		top: 0;
		border: 1px solid $navbar_border_color;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		li {
			float: left;
		}
		a {
			line-height: 25px;
			width: 200px;
			padding: inherit;
			color: $active_menu_color;
			text-decoration: none;
			font-size: 20px;
			font-family: $font_0, $font_1, $font_2, $font_3;
			top: auto;
			text-align: center;
			display: inline-block;
			border-bottom: 3px solid transparent;
			&:hover {
				border-bottom: 3px solid $navbar_color;
			}
		}
	}
}
@function calculate-rem($base, $exponent) {
	$result: 1;
	@for $_ from 1 through $exponent {
	  $result: $result * $base;
	}
	@return $result;
}