$primary: #2b0a3d;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap/scss/helpers";

$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import "~bootstrap-icons/font/bootstrap-icons";

// Custom styles

/* Colors */
$color-primary: $primary;
$color-secondary: black;

/* Text */
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  transition: 0.3s;
  color: $color-secondary;
  font-family: "Open Sans", sans-serif;
}

/* Scroll */
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: $color-primary;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/* Body, main, common */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Loading spinner */
.spinner-overlay {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-lg {
  width: 3rem;
  height: 3rem;
}

.header {
  background-color: white;
  transition: all 0.5s;
  z-index: 997;
  padding: 24px 0;
}

.header .menu .mobile-menu {
  color: $color-secondary;
}

@media (max-width: 1200px) {
  .header {
    padding: 12px 0;
  }
}

.header.sticked {
  background: white;
  padding: 12px 0;
}

@media (max-width: 992px) {
  .header .logo img {
    max-height: 65px;
    margin-left: 0%;
  }
}

@media (min-width: 993px) {
  .header .logo img {
    max-width: 250px;
    margin-left: 0%;
  }
}

/* Desktop navbar */
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 15px 30px;
    font-size: 15px;
    font-weight: 500;
    color: $color-secondary;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: $color-primary;
    font-weight: bold;
    text-decoration: underline;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px RGBa(249, 249, 249, 0.25);
    transition: 0.2s;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/* Mobile navbar */
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: $color-primary;
    opacity: 0.98;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: RGBa(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #fff;
  }

  .navbar .dropdown > .dropdown-active,
  .navbar .dropdown .dropdown > .dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: RGBa(255, 255, 255, 0.9);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
  }

  .mobile-nav-hide {
    color: RGBa(255, 255, 255, 0.9);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }
}

/* Footer */
.footer {
  background-color: whitesmoke;
  background-size: contain;
  width: 100%;
  display: flex;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 3rem;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 3rem;
}

.footer-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: max-content;
}

.footer-links p {
  margin-bottom: 0;
}

.footer-links h4 {
  text-align: center;
  color: $color-primary;
}

.social-links a {
  font-size: 14px;
  line-height: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  color: white;
  border-radius: 50px;
}

.footer-email {
  height: 32px;
  line-height: 32px;
}

.footer .footer-content h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .footer-links ul i {
  margin-right: 2px;
  color: $color-primary;
  font-size: 16px;
  line-height: 0;
}

.footer .footer-content .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul a:hover {
  color: $color-primary;
}

/* Team */
.team .team-member .member-img {
  position: relative;
  overflow: hidden;
}

.team .team-member .member-info {
  padding: 25px 15px 0 15px;
  text-align: center;
}

.team .team-member .member-info h4 {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
}

.team .team-member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: $color-secondary;
}

.team .team-member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: $color-secondary;
}

.team a:hover {
  color: $color-primary;
}

@media (max-width: 992px) {
  .team .team-member {
    margin-bottom: 10%;
    overflow: hidden;
    background: #fff;
  }
}

@media (min-width: 993px) {
  .team .team-member {
    margin-bottom: 20%;
    overflow: hidden;
    background: #fff;
  }
}

/* Publications */
.publication-column {
  margin-bottom: 2rem;
}

.publication-column a:hover {
  color: $color-primary;
}

@media (max-width: 992px) {
  .publication-column {
    margin-left: 3%;
    margin-right: 3%;
  }

  .publication-column h1 {
    font-size: 19px;
  }

  .publication-column h4 {
    font-size: 16px;
  }

  .publication-column p {
    font-size: 14px;
    font-style: italic;
  }
}

@media (min-width: 993px) {
  .publication-column h1 {
    font-size: 22px;
  }

  .publication-column h4 {
    font-size: 15px;
  }

  .publication-column p {
    font-size: 13px;
    font-style: italic;
  }
}

/* Study */
@media (max-width: 992px) {
  .study-column {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media (min-width: 993px) {
  .study-img img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
  }
}

.study-column {
  margin-bottom: 10px;
}

.study-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.study a {
  color: $color-primary;
}

.study-headline {
  text-align: center;
}

/* Contact */
.contact-info i {
  display: inline-block;
  color: $color-primary;
}

.contact-item .bi {
  color: $color-primary;
}

.contact-info {
  text-align: center;
  row-gap: 1rem;
}

.contact-item a:hover {
  color: $color-primary;
}

@media (max-width: 992px) {
  .maps {
    display: block;
    border-style: none;
    width: 100%;
    height: 50vh;
    margin: 0%;
    padding-top: 10px;
  }

  .contact-info i {
    font-size: 25px;
    margin-bottom: 2px;
  }

  .contact-item {
    padding: 0%;
    margin: 0%;
  }
}

@media (min-width: 993px) {
  .maps {
    border-style: none;
    height: 400px;
    width: 100%;
    margin: 0%;
    background-color: transparent;
    display: block;
  }

  .contact-info i {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .contact-item {
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .vr {
    height: 100%;
    color: $primary;
    width: 2px;
  }

  .contact-info {
    margin-bottom: 3px;
  }
}

/* Index */
.index-header {
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    RGB(99.608% 99.608% 99.608%) 0%,
    RGB(99.608% 99.608% 99.608% / 0.9999847412109375) 6.25%,
    RGB(99.608% 99.608% 99.608% / 0.999755859375) 12.5%,
    RGB(99.608% 99.608% 99.608% / 0.9987640380859375) 18.75%,
    RGB(99.609% 99.609% 99.609% / 0.99609375) 25%,
    RGB(99.612% 99.612% 99.612% / 0.9904632568359375) 31.25%,
    RGB(99.616% 99.616% 99.616% / 0.980224609375) 37.5%,
    RGB(99.622% 99.622% 99.622% / 0.9633636474609375) 43.75%,
    RGB(99.632% 99.632% 99.632% / 0.9375) 50%,
    RGB(99.647% 99.647% 99.647% / 0.8998870849609375) 56.25%,
    RGB(99.668% 99.668% 99.668% / 0.847412109375) 62.5%,
    RGB(99.695% 99.695% 99.695% / 0.7765960693359375) 68.75%,
    RGB(99.732% 99.732% 99.732% / 0.68359375) 75%,
    RGB(99.779% 99.779% 99.779% / 0.5641937255859375) 81.25%,
    RGB(99.838% 99.838% 99.838% / 0.413818359375) 87.5%,
    RGB(99.911% 99.911% 99.911% / 0.2275238037109375) 93.75%,
    RGB(100% 100% 100% / 0) 100%
  );
}

.index-hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-hero-text-line-2 {
  font-weight: 700;
  color: #2d0d3f;
}

.index-hero-text-line-3 {
  font-weight: 100;
}

.index-footer {
  background: linear-gradient(
    0deg,
    RGB(99.608% 99.608% 99.608%) 0%,
    RGB(99.608% 99.608% 99.608% / 0.9999847412109375) 6.25%,
    RGB(99.608% 99.608% 99.608% / 0.999755859375) 12.5%,
    RGB(99.608% 99.608% 99.608% / 0.9987640380859375) 18.75%,
    RGB(99.609% 99.609% 99.609% / 0.99609375) 25%,
    RGB(99.612% 99.612% 99.612% / 0.9904632568359375) 31.25%,
    RGB(99.616% 99.616% 99.616% / 0.980224609375) 37.5%,
    RGB(99.622% 99.622% 99.622% / 0.9633636474609375) 43.75%,
    RGB(99.632% 99.632% 99.632% / 0.9375) 50%,
    RGB(99.647% 99.647% 99.647% / 0.8998870849609375) 56.25%,
    RGB(99.668% 99.668% 99.668% / 0.847412109375) 62.5%,
    RGB(99.695% 99.695% 99.695% / 0.7765960693359375) 68.75%,
    RGB(99.732% 99.732% 99.732% / 0.68359375) 75%,
    RGB(99.779% 99.779% 99.779% / 0.5641937255859375) 81.25%,
    RGB(99.838% 99.838% 99.838% / 0.413818359375) 87.5%,
    RGB(99.911% 99.911% 99.911% / 0.2275238037109375) 93.75%,
    RGB(100% 100% 100% / 0) 100%
  );
}

.index-body {
  flex-grow: 1;
}

.index-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("~assets/img/additional/index.png");
  background-size: cover;
}
